{% extends 'master_template.html' %}
{% load static %}
{% block slider %}
{% endblock %}

{% block content %}
<div id="tooplate_main_top"></div>        
<div id="tooplate_main">
     <div class="col_w900 col_w900_last">
        <div class="col_w580 float_l" style="height: 500px;">
                <div class="con_tit_01">
                    <span>****Course List****</span></div>
                    <br><form method="post">
                    <table border="1" align="right" height="300" width="400" bgcolor="yellow">
                        <tr>
                            <th>course id</th>
                            <th>course name</th>
                            <th>duration</th>
                            <th>fees</th>
                            <th>course img</th>
                            
                        </tr>
                        {% for r in res %}
                        <tr>
                            <td>{{ r.courseid }}</td>
                            <td>{{ r.name }}</td>
                            <td>{{ r.duration }}</td>
                            <td>{{ r.fees }}</td>
                            <td>
                            <img src="{{ media_url}}{{ r.courseicon }}" height="80" width="120">
                            </td>


                        </tr>{% endfor %}
                    </table></form>
                <div class="cleaner"></div></div></div>
    <div class="cleaner"></div>
</div> <!-- end of main -->
{% endblock %}
